.profile{
  position: relative;
}
.profile .icon-edit{
  position: absolute;
}
.profile .file-input{
  position: absolute;
}
.btnimg{
  background:#bfbfbfb8;
  pointer-events:none;
  width:39px;
  height:39px;
  opacity:1;
  line-height:33px;
  text-align:center;
  position:absolute;
  top: 176px;
  right: 0;
  bottom: 0;
}
input[type=file]{
  opacity:0;
  position:absolute;
  width:39px;
  top: 176px;
  right: 0;
  bottom: 0;
}